* {
    box-sizing: border-box;
}

body{
    background-color: lightgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bodys{
    background-color: #F5F5F5;
    margin: auto;
    align-content: center;
    text-align: center;
    position: relative;
    top:20px;
    width:60%;
}
.one{
    height: max-content;;
    background-color: rgb(199, 211, 216);
    padding: 20px;
}
.button1{
    background-color: green;
    color:white;
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid green;
    border-radius: 5px;
}
.button2{
    background-color: blue;
    color:white;
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid blue;
    border-radius: 5px;
}
.jumb{
    position: relative;
    top:20px;
}
.left{
    width: 50%;
    float:left;
    background-color: lightgrey;
}
.right{
    width: 50%;
    float:right;
    background-color: lightgrey;
}

.topnav {
overflow: hidden;
background-color: gray;
}

a{
float: right;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
align-content: center;
}

.topnav a:hover {
background-color:rgb(23, 23, 223);
color: white;
}
.span{
    float: left;
}
.jj{
    color: white;
    font-size: 2.5rem;
    float: left;
}
.foot{
    float: left;
    background-color: lightgrey;
}
hr{
    background-color: grey;
    color:rgb(27, 28, 29);
    padding: 0px;
    margin:0px;
}