.formskeleton{
            
    background-color: #E9ECEF;
    text-align: center;
    margin: auto;
    padding: 20px;
    align-content: center;
    font-size: 2em;
    width:70%;
    height: 700px;
    position: relative;
    top:20px;
}
.input_tag_style{
    width: 400px;
}
.button {
background-color: #4CAF50;
color: white;
padding: 15px 32px;
text-align: center;
font-size: 16px;
margin: auto;
align-content: center;
}
.icon{
    padding: 5px;
    background: #172749;
    color: white;
    width: 10%;
    text-align: center;
}
.a{
    display: inline;
}
td{
    width: 50%;
    height: 80px;
}